<div class="my-info">
  <span>
    <p>
    My name is Jason Roelofs
    </p>

    <p>
      I work for <a href="https://stripe.com">Stripe</a>
    </p>

    <p>
      I write periodically about Technology, Religion, and how they intersect.
    </p>
  </span>

  <span class="links">
    <a href="https://twitter.com/jasonroelofs">Twitter</a> | <a href="https://www.linkedin.com/in/jasonroelofs/">LinkedIn</a> | <a href="https://github.com/jasonroelofs">GitHub</a> | <a href="https://keybase.io/jasonroelofs">Keybase</a></p>
  </span>
</div>

<hr>
