{{ define "main" }}

{{ partial "info_header" . }}

<div class="sections">
  <div class="column">
    {{ range $.Site.Params.LeftSections }}
      {{ with $.Site.GetPage . }}
      <div class="section">
        <h1>{{ .Title }}</h1>

        {{ range .Pages.ByPublishDate.Reverse }}
          {{ partial "list_by_date" . }}
        {{ end }}
      </div>
      {{ end }}
    {{ end }}
  </div>

  <div class="column">
    {{ range $.Site.Params.RightSections }}
      {{ with $.Site.GetPage . }}
      <div class="section">
        <h1>{{ .Title }}</h1>

        {{ range .Pages.ByWeight }}
          {{ partial "list" . }}
        {{ end }}
      </div>
      {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}
