---
layout: default
---
<div class="row span15">
  <div class="span4">
    <div>
      <p>Published on {{ page.date | date: "%B %d, %Y" }}</p>
      <p>
        {% for tag in page.tags %}
          <span class="label info">
            {{ tag }}
          </span>
          &nbsp;
        {% endfor %}
      </p>
    </div>

    <div class="buttons">
      {% if page.previous %}
      <a class="btn" href="{{ page.previous.url }}">&laquo; Previous</a>
      {% endif %}

      {% if page.next %}
      <a class="btn" href="{{ page.next.url }}">Next &raquo;</a>
      {% endif %}
    </div>

    {% if page.series %}
    {% assign series_name = page.series %}
    <div class="series">
      <p>This post is a part of the <strong>{{ page.series }}</strong> series:</p>
      <ul>
        {% for next_post in site.posts reversed %}
          {% if next_post.series == series_name %}
            <li>
              {% if next_post.title == page.title %}
                <em>{{ next_post.title }}</em>
              {% else %}
                <a href="{{ next_post.url }}">{{ next_post.title }}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="span10">
    {{ content }}
    <hr/>
    {% assign current_post = page %}
    {% include disqus.html %}
  </div>
</div>
